body {
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
}

a.sort{
    text-decoration: none;
    color: #000000;
}

a.sort:hover {
    text-decoration: none;
}

.addBtn {
    margin-left: 12%;
}

#star > input {
    margin-top: 1%;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.upload{
    margin-bottom: 4%;
}
